LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE DISCARDABLE
BEGIN

MSG1, "Hello, world!\n"
MSG2, "Orangutan has %d banana.\n"
MSG3, "Try Weblate at http://demo.weblate.org/!\n"
MSG4, "Thank you for using Weblate."
END
